{# template pour affichage d'un message "data list bien enregistre" #}

{% extends "layout.html.twig" %}

{% block body %}
	{% if is_granted('ROLE_SCIENTIFIC') %}
		<p>{{ 'datalist.registration.confirmed'|trans({'%nameData%': dataList.nameData}, 'messages') }}</p>
	{% endif %}
{% endblock body %}

{% block javascripts %}
	{{ parent() }}
	
	<script type="text/javascript">
		window.setTimeout("window.location.assign('{{ path('data_list_list') }}')");
	</script>
{% endblock %}
